<%= form_tag(pick_path, :method => "post") do %>
  <div>
    <table>
      <tr>
        <%= label_tag(:cuisine_fltr, "Cuisine:") %>
        <select name="cuisine" id="cuisine_fltr">
          <option>Any</option>
          <% @cuisines.each do |c| %>
              <% if c == @selected_cuisine %>
                <option selected="selected"><%=c%></option>
              <% else %>
                <option><%=c%></option>
              <% end %>
          <% end %>
        </select>
      </tr>
      <tr>
        <%= label_tag(:distance_fltr, "Distance:") %>
        <select name="distance" id="distance_fltr">
          <option>Any</option>
          <% @distances.each do |c| %>
              <% if c == @selected_distance %>
                  <option selected="selected"><%=c%></option>
              <% else %>
                  <option><%=c%></option>
              <% end %>
          <% end %>
        </select>
      </tr>
      <tr>
        <%= label_tag(:cost_fltr, "Cost:") %>
        <select name="cost" id="cost_fltr">
          <option>Any</option>
          <% @costs.each do |c| %>
              <% if c == @selected_cost %>
                  <option selected="selected"><%=c%></option>
              <% else %>
                  <option><%=c%></option>
              <% end %>
          <% end %>
        </select>
      </tr>
    </table>
  </div>
  <div>
    <%= button_tag(type: "submit", class: "btn-lg btn btn-success") do %>
        <i class="glyphicon glyphicon-cutlery"></i> Pick For Me!
    <% end %>
  </div>
<% end %>