<!-- partial 'template' for my forms -->
<%= form_for @restaurant do |f| %>
    <% if @restaurant.errors.any? %>
        <div id="error_explanation">
          <h3>
            <%= pluralize(@restaurant.errors.count, "error") %> prohibited
            this restaurant from being saved:
          </h3>
          <ul>
            <% @restaurant.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label 'Name:'%>
      <%= f.text_field :name%>
    </p>

    <p>
      <%= f.label 'Distance:' %>
      <%= f.select :distance, [['0-2 miles'], ['2-5 miles'], ['5+ miles']] %>
    </p>

    <p>
      <%= f.label 'Cuisine:' %>
      <%= f.text_field :cuisine%>
    </p>
    <p>
      <%= f.label 'Cost:' %>
      <%= f.select :cost, [['$'], ['$$'], ['$$$']] %>
    </p>
    <p>
      <%= f.submit :class => 'btn btn-primary' %>
      <%= f.submit 'clear', :type => 'reset', :class => 'btn btn-default' %>
      <%= button_tag 'Cancel', :type => 'cancel', :name => 'cancel', :class => 'btn btn-default' %>
    </p>
<% end %>
